dist
node_modules
.DS_Store
.idea



# Logs
logs
log
*.log


# Runtime data
pids
*.pid
*.seed


# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


config.*
*.map



/build
/.externalToolBuilders
/.metadata
/.settings
/RemoteSystemsTempFiles
/.git
/.classpath


# secure keys
*.key
*.pem
*.crt
*.csr
*.srl

